.section {
  background-color: var(--color-primary);
}

.section-text {
  color: white;
  min-width: 10rem;
  text-align: center;
}

.section h2 {
  color: white;
}

.stats {
  color: white;
}

@media only screen and (min-width: 38em) {

  .section-text {
    text-align: left;
  }

}
