.banner-heading {
  color: #fff;
}

.banner-text {
  color: #fff;
}

.info {
  background-color: var(--color-primary);
  padding: 0 .5rem;
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .info {
    background-color: transparent;
    top: 50%;
    left: 50%;
    padding: 2rem;
    text-align: left;
    transform: translate(-50%, -50%);
  }
}
