.footer {
  background-color: var(--color-secondary);
}

.footer nav a {
  background-color: var(--color-secondary);
  color: #fff;
  display: block;
  text-decoration: none;
}

.footer nav a:hover {
  color: var(--color-primary);
}

.footer nav a:focus {
  color: var(--color-primary);
}

.icon-footer {
  border-radius: 25em;
  color: var(--color-primary);
}

.facebook:hover, .twitter:hover, .instagram:hover {
  fill: white;
}

.facebook:focus, .twitter:focus, .instagram:focus {
  fill: white;
}

.copyright {
  background-color: var(--color-primary);
  color: white;
}
