html {
  background-color: #e8e8e8;
}

.adopt {
  background-color: var(--color-primary);
}

.header h1 {
  font-family: var(--font-secondary);
  text-align: center;
}

.header {
  background-color: var(--color-primary);
}

.header nav a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.header nav a:hover {
  color: var(--color-secondary);
  display: block;
  text-decoration: none;
}

li a, .drop-btn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li.drop {
  display: inline-block;
}

.drop-content {
  background-color: var(--color-secondary);
  display: none;

  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  width: 10rem;
}

.drop-content a {
  color: var(--color-secondary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drop-content a:hover {
  background-color: white;
  color: var(--color-secondary);
}

.drop:hover .drop-content {
  display: block;
}

@media only screen and (min-width: 60em) {

  .header h1 {
    text-align: left;
  }

}
