.icon-form,
.basic-form {
  background-color: white;
}

.basic-form svg {
  fill: #f33;
}

.basic-form h3 {
  color: var(--color-neutral-dark-grey);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.main-legend {
  color: var(--color-accent);
  display: inline-block;
  font-weight: 500;
}

.contact-legend {
  color: var(--color-primary);
}

input,
select {
  border: solid 4px var(--color-neutral-light-grey);
  background-color: var(--color-neutral-light-grey);
  border-radius: 8px;
  height: 3rem;
  padding-left: .5rem;
}

input:focus {
  border: solid 4px var(--color-secondary);
  outline: none;
}

textarea {
  background-color: var(--color-neutral-light-grey);
  border: solid 4px var(--color-neutral-light-grey);
  border-radius: 8px;
  height: 6rem;
  padding-left: .5rem;
}

.icon-form textarea {
  resize: none;
}

textarea:focus {
  border: solid 4px var(--color-secondary);
  outline: none;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  background-color: var(--color-neutral-light-grey);
  border: solid 4px var(--color-neutral-light-grey);
}

input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before {
  border: solid 4px var(--color-secondary);
}

.icon-form textarea,
.icon-form input {
  padding-left: 3.5rem;
}

.form-background {
  background-color: var(--color-secondary);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  width: 3rem;
  height: 3rem;
}

.form-background-question {
  height: 6rem;
}

.icon-form svg {
  fill: #fff;
}

.warning {
  background-color: #f33;
  color: #fff;
  font-weight: 300;
}

.flag-optional {
  color: var(--color-accent);
}

.is-validated input:invalid,
.is-validated textarea:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.is-validated input:invalid ~ .form-background,
.is-validated textarea:invalid ~ .form-background-question {
  background-color: #f33;
}

.error-message {
  display: none;
  color: #f33;
}

.error-message-highlighted {
  color: #f33;
}

.error-message-highlighted:focus {
  outline: none;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated textarea:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}
