.btn {
  background-color: var(--color-primary);
  border: solid 3px var(--color-primary);
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding: .5rem 1.75rem;
  transition:
    background-color 200ms ease-in,
    border-color 200ms ease-in,
    color 400ms ease-in;
}

.btn:hover {
  background-color: var(--color-accent);
  border: solid 3px var(--color-accent);
  color: var(--color-primary);
}

.btn:focus {
  background-color: var(--color-accent);
  border: solid 3px var(--color-accent);
  color: var(--color-primary);
}

.btn-reverse {
  background-color: #fff;
  border-color: #fff;
  color: var(--color-primary);
}

.btn-reverse:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.btn-reverse:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

/* Add an paw icon */

.btn-icon:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-icon:focus {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-icon span {
  display: inline-block;
  position: relative;
}

.paw {
  fill: white;
  transition: 400ms;
}

.btn-icon .icon {
  opacity: 0;
  transform: translate(3.5rem, .25rem);
  transition: 400ms;
}

.btn-icon:hover .paw {
  fill: var(--color-primary);
}

.btn-icon:focus .paw {
  fill: var(--color-primary);
}

.btn-icon:hover .icon-label {
  transform: translate(-.9rem);
}

.btn-icon:focus .icon-label {
  transform: translate(-.9rem);
}

.btn-icon:hover .icon {
  opacity: 1;
  transform: translate(3.7rem, .2rem);
}

.btn-icon:focus .icon {
  opacity: 1;
  transform: translate(3.7rem, .2rem);
}
