.infographic-section {
  background-color: white;
}

.infographic h2, .infographic p, .image {
  display: block;
  text-align: center;
}

.infographic p {
  color: var(--color-neutral-dark-grey);
}

.dots {
  visibility: hidden;
}

.wrapper-infographic {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 52em;
}

.step-1 {
  order: 1;
}

.step-2 {
  order: 2;
}

.step-3 {
  order: 3;
}

svg.animation {
  overflow: visible;
}

@media only screen and (min-width: 25em) {

  .dots {
    visibility: visible;
  }

  .wrapper-infographic {
    display: inline-block;
  }

  #heart-1 {
    transform-origin: center;
    -moz-transform-origin: center;
  }

  #heart-2 {
    transform-origin: center;
    -moz-transform-origin: center;
  }

  .step-1:hover #heart-1, .step-1:hover #heart-2 {
    animation-name: scale-color;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #ground {
    transform-origin: center;
    -moz-transform-origin: center;
  }

  .step-2:hover #ground {
    animation-name: scale;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .step-2:hover #body, .step-2:hover #wing, .step-2:hover #shadow {
    animation-name: mover;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .step-3:hover #heart-window {
    animation-name: color-secondary;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes scale {
    from {
      transform: scale(1)
    }
    to {
      transform: scale(.75)
    }
  }

  @keyframes color-secondary {
    from {
      fill: var(#fff)
    }
    to {
      fill: var(--color-secondary)
    }
  }

  @keyframes scale-color {
    from {
      transform: scale(1);
      fill: var(--color-accent);
    }
    to {
      transform: scale(1.25);
      fill: var(--color-secondary);
    }
  }

  @keyframes mover {
    from {
      transform: translate(0, 0)
    }
    to {
      transform: translate(0, -10px)
    }
  }

}
