.infographic-section {
  background-color: #e8e8e8;
}

.infographic h2,
.infographic p,
.image {
  display: block;
  text-align: center;
}

.infographic p {
  color: var(--color-neutral-dark-grey);
}

.dots {
  visibility: hidden;
}

.wrapper-infographic {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 52em;
}

.step-1 {
  order: 1;
}

.step-2 {
  order: 2;
}

.step-3 {
  order: 3;
}

svg.animation {
  overflow: visible;
}

@media only screen and (min-width: 25em) {

  .dots {
    visibility: visible;
  }

  .wrapper-infographic {
    display: inline-block;
  }

  #heart-1 {
    transition: 700ms;
    transform-origin: center;
  }

  #heart-2 {
    transition: 300ms;
    transform-origin: center;
  }

  #pug:hover #heart-1,
  #pug:hover #heart-2 {
    fill: var(--color-accent);

  }
}
