:root {
  --color-primary: #06386e;
  --color-primary-light: #0b4d89;
  --color-primary-dark: #052642;
  --color-secondary: #5cdB94;
  --color-accent: #f0a979;
  --color-light-grey: #cbcbcb;
  --color-dark-grey: #585858;
  --color-neutral-lace: #fdf9e6;

  --font-primary: "Fira Sans", sans-serif;
  --font-secondary: "Lora", serif;
}

html {
  font-family: var(--font-primary);
}
