:root {
  --color-primary: #06386E;
  --color-primary-light: #0B4D89;
  --color-primary-dark: #052642;
  --color-secondary:#5CDB94;
  --color-accent: #F0A979;
  --color-light-grey: #CBCBCB;
  --color-dark-grey: #585858;
  --color-neutral-lace: #FDF9E6;

  --font-primary: "Fira Sans", sans-serif;
  --font-secondary: "Lora", serif;
}

html {
  font-family: var(--font-primary);
}
